*.jpg
*.png
*.gif

<div id="CajaTexto-Gal2">
          <p class="Texto-Gal"><a href="https://instagram.com/ruru_dambara.official?igshid=YmMyMTA2M2Y="
              class="EnlacesDeNombre TextoGal1-Animado">Ruru
              Dambara<br></a>
            X
            <br><a href="https://instagram.com/manaka_inaba.official?igshid=YmMyMTA2M2Y="
              class="EnlacesDeNombre TextoGal1-Animado">Manaka
              Inaba</a>
          </p>
        </div>